@page "/imagedetails"
@page "/imagedetails/{Topic}/{Name}"

@using System.Web
@using Focus2Infinity.Data
@using Microsoft.Extensions.Localization
@inject F2IDataService f2iDataService
@inject IStringLocalizer<ImageDetails> L

@rendermode InteractiveServer

@if (_headline != null)
{
  <h3 class="text-center my-5">@_headline</h3>
  <div class="row">
    <div class="@ColSizeImg" @onmouseover="ShowOverlayImage" @onmouseout="HideOverlayImage">
      @{
        string img = _hasOverlayImg && _showOverlay ? OverlayImgFile : ImgFile;
        <img src="@img" alt="Image"style="max-width: 100%; height: auto; object-fit: contain;" />
      }
    </div>
    <div class=@ColSizeTxt>
      <Cmp_TextCard Topic=@Topic Src=@Name Details="true" HasOverlay="@_hasOverlayImg" />
    </div>
  </div>
}
else
{
  <p>@L["Loading"]</p>
}

@code {
  [Parameter]
  public string Topic { get; set; }
  [Parameter]
  public string Name { get; set; }

  private string ImgFile => $"img/{Topic}/{Name}";
  private string OverlayImgFile => $"img/{Topic}/ovl_{Name}";
  private string CSI => _portrait ? "col-sm-6" : "col-sm-8";
  private string ColSizeImg => $"col-12 {CSI} d-flex justify-content-end";
  private string CST => _portrait ? "col-sm-6" : "col-sm-4";
  private string ColSizeTxt => $"col-12 {CST} justify-content-start";

  private string? _headline;
  private bool _portrait = false;

  private bool _showOverlay = false;
  private bool _hasOverlayImg = false;

  protected override async Task OnInitializedAsync()
  {
    var src = await f2iDataService.GetStoryText(Topic, Name);

    (int width, int heigth) = await f2iDataService.GetImageFormat(Topic, Name);
    _portrait = width < heigth;

    _hasOverlayImg = await f2iDataService.OverlayExists(Topic, Name);

    _headline = src.Headline;
  }

  private void ShowOverlayImage(MouseEventArgs args) => _showOverlay = true;

  private void HideOverlayImage() => _showOverlay = false;
}
